@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Sriracha&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Pontano Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  padding-top: 50px;
  margin-bottom: 75px;
  overflow-x: hidden;
}

#message-card {
  background-color: #F8F8F8;
}

#message-card:hover {
  background-color: rgb(172, 169, 169);
}

.navbar {
  overflow: hidden;
  background-color: #340E36; 
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  color: #e3eaf3;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  align-items: left;
}

.channel-names {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar {
  overflow-y: auto;
  max-height: 100vh;
}

.brand-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 50px;
  width: 100%;
  padding: 10px;
}

.left-sidebar .nav-link:hover {
  color: rgb(233, 142, 142); /* change this to the color you want */
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

#sidebar {
  background-color: #4A154B;
}

.container {
  margin-left: 250px;
}

.navbg {
  background-color: white;
}

#create-channel:hover {
  background-color: #007A5A;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: lightgray;
}

#form {
  max-width: 64em;
  margin: auto;
  text-align: center;
}

#channel-header {
  /* position: fixed; */
  width: 92%;
  background-color: #F8F8F8;
  z-index: 1;
}

#message-card {
  text-align: left;
}

#message-body {
  display: flex;
}
