@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1d9555;
}

.navbar {
  background-color: #7d2b61;
}

.navbar a {
  color: wheat;
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
}

.left-sidebar .nav-link:hover {
  color: rgb(233, 142, 142); /* change this to the color you want */
}

.left-sidebar .navbar-brand:hover {
  color: rgb(233, 142, 142); /* change this to the color you want */
}

.sidebar-dropdown {
  position: relative;
  top: -10px;
}

.navbar .dropdown-menu {
  background-color: rgb(44, 138, 102);
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.container {
  margin-left: 250px;
}

.navbg {
  background-color: white;
}
